# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [1]:
import pandas as pd

In [43]:
census = pd.read_csv('./census_data.csv')

In [24]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
census.describe()

                age  education_num  capital_gain  capital_loss  hours_per_week
count  32561.000000   32561.000000  32561.000000  32561.000000    32561.000000
mean      38.581647      10.080679   1077.648844     87.303830       40.437456
std       13.640433       2.572720   7385.292085    402.960219       12.347429
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       48.000000      12.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

In [67]:
census.shape

(32561, 13)

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [18]:
for c in census.columns:
    print(c, census[c].unique()[:5])

age [39 50 38 53 28]
workclass [' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov']
education [' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th']
education_num [13  9  7 14  5]
marital_status [' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated']
occupation [' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service']
relationship [' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried']
race [' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']
gender [' Male' ' Female']
capital_gain [ 2174     0 14084  5178  5013]
capital_loss [   0 2042 1408 1902 1573]
hours_per_week [40 13 16 45 50]
native_country [' United-States' ' Cuba' ' Jamaica' ' India' ' ?']
income_bracket [' <=50K' ' >50K']

In [44]:
census['target_income'] = pd.Categorical(census.income_bracket).codes

In [45]:
census.income_bracket.unique()

array([' <=50K', ' >50K'], dtype=object)

array([' <=50K', ' >50K'], dtype=object)

### Perform a Train Test Split on the Data

In [39]:
from sklearn.model_selection import train_test_split

In [46]:
label = census.target_income
census = census.drop(['target_income', 'income_bracket'], axis=1)

In [48]:
X_train, X_test, y_train, y_test = train_test_split(
    census, 
    label,
    test_size = 0.33, 
    random_state = 101
)

In [49]:
X_train.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
941,35,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,0,0,40,United-States
25762,60,Self-emp-not-inc,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
3987,37,Private,Bachelors,13,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,0,0,30,China
17851,31,Private,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States
12116,43,Private,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,4064,0,38,United-States

In [50]:
y_train.head()

941      0
25762    1
3987     0
17851    0
12116    0
Name: target_income, dtype: int8

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [51]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country'],
      dtype='object')

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [52]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [57]:
for c in census.columns:
    print(c, census[c].unique().size)

age 73
workclass 9
education 16
education_num 16
marital_status 7
occupation 15
relationship 6
race 5
gender 2
capital_gain 119
capital_loss 92
hours_per_week 94
native_country 42

In [60]:
categorical_features = [
    tf.feature_column.categorical_column_with_hash_bucket('workclass', 10),
    tf.feature_column.categorical_column_with_hash_bucket('education', 20),
    tf.feature_column.categorical_column_with_hash_bucket('marital_status', 10),
    tf.feature_column.categorical_column_with_hash_bucket('occupation', 20),
    tf.feature_column.categorical_column_with_vocabulary_list('relationship', ['Wife', 'Own-child', 'Husband', 'Not-in-family', 'Other-relative', 'Unmarried']),
    tf.feature_column.categorical_column_with_vocabulary_list('race', ['White', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other', 'Black']),
    tf.feature_column.categorical_column_with_vocabulary_list('gender', ['Female', 'Male']),
    tf.feature_column.categorical_column_with_hash_bucket('native_country', 50),
]

** Create the continuous feature_columns for the continuous values using numeric_column **

In [61]:
continuous_features = [
    tf.feature_column.numeric_column('age'),
    tf.feature_column.numeric_column('education_num'),
    tf.feature_column.numeric_column('capital_gain'),
    tf.feature_column.numeric_column('capital_loss'),
    tf.feature_column.numeric_column('hours_per_week'),
]

** Put all these variables into a single list with the variable name feat_cols **

In [62]:
feat_cols = categorical_features + continuous_features

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [91]:
train_input_fn = tf.estimator.inputs.pandas_input_fn(
    x = X_train, 
    y = y_train, 
    batch_size = 100, 
    num_epochs = None, 
    shuffle = True
)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [92]:
linearModel = tf.estimator.LinearClassifier(
    feature_columns = feat_cols,
    n_classes = 2
)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/7f/kl6zxp_50ddcw8xr42yvrpfm0000gn/T/tmpnsocjcdt
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/7f/kl6zxp_50ddcw8xr42yvrpfm0000gn/T/tmpnsocjcdt', '_save_summary_steps': 100, '_log_step_count_steps': 100, '_save_checkpoints_secs': 600, '_keep_checkpoint_max': 5, '_session_config': None, '_tf_random_seed': 1, '_keep_checkpoint_every_n_hours': 10000, '_save_checkpoints_steps': None}

In [121]:
categorical_features

[_HashedCategoricalColumn(key='workclass', hash_bucket_size=10, dtype=tf.string),
 _HashedCategoricalColumn(key='education', hash_bucket_size=20, dtype=tf.string),
 _HashedCategoricalColumn(key='marital_status', hash_bucket_size=10, dtype=tf.string),
 _HashedCategoricalColumn(key='occupation', hash_bucket_size=20, dtype=tf.string),
 _VocabularyListCategoricalColumn(key='relationship', vocabulary_list=('Wife', 'Own-child', 'Husband', 'Not-in-family', 'Other-relative', 'Unmarried'), dtype=tf.string, default_value=-1, num_oov_buckets=0),
 _VocabularyListCategoricalColumn(key='race', vocabulary_list=('White', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other', 'Black'), dtype=tf.string, default_value=-1, num_oov_buckets=0),
 _VocabularyListCategoricalColumn(key='gender', vocabulary_list=('Female', 'Male'), dtype=tf.string, default_value=-1, num_oov_buckets=0),
 _HashedCategoricalColumn(key='native_country', hash_bucket_size=50, dtype=tf.string)]

In [125]:
dnn_categorical_features = []
for cf in categorical_features:
    if hasattr(cf, 'hash_bucket_size'):
        emb = tf.feature_column.embedding_column(
            cf, 
            cf.hash_bucket_size
        )
    else:
        emb = tf.feature_column.embedding_column(
            cf,
            len(cf.vocabulary_list)
        )
    dnn_categorical_features.append(emb)

In [150]:
dnn_feat_cols = dnn_categorical_features + continuous_features
dnnModel = tf.estimator.DNNClassifier(
    hidden_units = [ 20 ] * 3, 
    feature_columns = dnn_feat_cols
)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/7f/kl6zxp_50ddcw8xr42yvrpfm0000gn/T/tmpzv8hwxjm
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/7f/kl6zxp_50ddcw8xr42yvrpfm0000gn/T/tmpzv8hwxjm', '_save_summary_steps': 100, '_log_step_count_steps': 100, '_save_checkpoints_secs': 600, '_keep_checkpoint_max': 5, '_session_config': None, '_tf_random_seed': 1, '_keep_checkpoint_every_n_hours': 10000, '_save_checkpoints_steps': None}

** Train your model on the data, for at least 5000 steps. **

In [93]:
linearModel.train(train_input_fn, steps=5000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /var/folders/7f/kl6zxp_50ddcw8xr42yvrpfm0000gn/T/tmpnsocjcdt/model.ckpt.
INFO:tensorflow:step = 1, loss = 69.3147
INFO:tensorflow:global_step/sec: 104.473
INFO:tensorflow:step = 101, loss = 278.105 (0.959 sec)
INFO:tensorflow:global_step/sec: 113.484
INFO:tensorflow:step = 201, loss = 61.8264 (0.881 sec)
INFO:tensorflow:global_step/sec: 113.271
INFO:tensorflow:step = 301, loss = 154.323 (0.883 sec)
INFO:tensorflow:global_step/sec: 113.71
INFO:tensorflow:step = 401, loss = 1013.53 (0.879 sec)
INFO:tensorflow:global_step/sec: 115.365
INFO:tensorflow:step = 501, loss = 106.537 (0.867 sec)
INFO:tensorflow:global_step/sec: 112.636
INFO:tensorflow:step = 601, loss = 572.219 (0.888 sec)
INFO:tensorflow:global_step/sec: 112.729
INFO:tensorflow:step = 701, loss = 99.7765 (0.891 sec)
INFO:tensorflow:global_step/sec: 114.222
INFO:tensorflow:step = 801, loss = 123.912 (0.872 sec)
INFO:tensorflow:global_step/sec: 113.667
INFO:tensorflow:step = 901, loss = 138.999 (0.880 sec)
INFO:tensorflow:global_step/sec: 109.828
INFO:tensorflow:step = 1001, loss = 101.034 (0.911 sec)
INFO:tensorflow:global_step/sec: 100.702
INFO:tensorflow:step = 1101, loss = 112.461 (0.993 sec)
INFO:tensorflow:global_step/sec: 102.531
INFO:tensorflow:step = 1201, loss = 146.192 (0.975 sec)
INFO:tensorflow:global_step/sec: 98.5858
INFO:tensorflow:step = 1301, loss = 130.935 (1.014 sec)
INFO:tensorflow:global_step/sec: 107.966
INFO:tensorflow:step = 1401, loss = 217.855 (0.926 sec)
INFO:tensorflow:global_step/sec: 109.828
INFO:tensorflow:step = 1501, loss = 50.0546 (0.910 sec)
INFO:tensorflow:global_step/sec: 113.138
INFO:tensorflow:step = 1601, loss = 291.738 (0.884 sec)
INFO:tensorflow:global_step/sec: 113.135
INFO:tensorflow:step = 1701, loss = 135.767 (0.884 sec)
INFO:tensorflow:global_step/sec: 114.889
INFO:tensorflow:step = 1801, loss = 81.8652 (0.870 sec)
INFO:tensorflow:global_step/sec: 112.275
INFO:tensorflow:step = 1901, loss = 43.3167 (0.890 sec)
INFO:tensorflow:global_step/sec: 114.48
INFO:tensorflow:step = 2001, loss = 130.987 (0.874 sec)
INFO:tensorflow:global_step/sec: 114.968
INFO:tensorflow:step = 2101, loss = 129.045 (0.869 sec)
INFO:tensorflow:global_step/sec: 109.847
INFO:tensorflow:step = 2201, loss = 49.2487 (0.911 sec)
INFO:tensorflow:global_step/sec: 112.388
INFO:tensorflow:step = 2301, loss = 39.2698 (0.890 sec)
INFO:tensorflow:global_step/sec: 111.025
INFO:tensorflow:step = 2401, loss = 57.0179 (0.901 sec)
INFO:tensorflow:global_step/sec: 110.693
INFO:tensorflow:step = 2501, loss = 31.3037 (0.904 sec)
INFO:tensorflow:global_step/sec: 112.747
INFO:tensorflow:step = 2601, loss = 43.7815 (0.887 sec)
INFO:tensorflow:global_step/sec: 106.983
INFO:tensorflow:step = 2701, loss = 89.0971 (0.935 sec)
INFO:tensorflow:global_step/sec: 113.109
INFO:tensorflow:step = 2801, loss = 36.3976 (0.885 sec)
INFO:tensorflow:global_step/sec: 116.339
INFO:tensorflow:step = 2901, loss = 86.8925 (0.859 sec)
INFO:tensorflow:global_step/sec: 107
INFO:tensorflow:step = 3001, loss = 69.1818 (0.935 sec)
INFO:tensorflow:global_step/sec: 120.092
INFO:tensorflow:step = 3101, loss = 34.6165 (0.832 sec)
INFO:tensorflow:global_step/sec: 104.945
INFO:tensorflow:step = 3201, loss = 140.664 (0.953 sec)
INFO:tensorflow:global_step/sec: 113.47
INFO:tensorflow:step = 3301, loss = 44.3513 (0.881 sec)
INFO:tensorflow:global_step/sec: 114.881
INFO:tensorflow:step = 3401, loss = 57.9026 (0.871 sec)
INFO:tensorflow:global_step/sec: 113.672
INFO:tensorflow:step = 3501, loss = 35.8222 (0.880 sec)
INFO:tensorflow:global_step/sec: 113.35
INFO:tensorflow:step = 3601, loss = 296.844 (0.882 sec)
INFO:tensorflow:global_step/sec: 113.419
INFO:tensorflow:step = 3701, loss = 44.0945 (0.882 sec)
INFO:tensorflow:global_step/sec: 109.957
INFO:tensorflow:step = 3801, loss = 77.4767 (0.910 sec)
INFO:tensorflow:global_step/sec: 113.334
INFO:tensorflow:step = 3901, loss = 41.07 (0.882 sec)
INFO:tensorflow:global_step/sec: 114.434
INFO:tensorflow:step = 4001, loss = 80.1064 (0.874 sec)
INFO:tensorflow:global_step/sec: 113.601
INFO:tensorflow:step = 4101, loss = 89.5831 (0.880 sec)
INFO:tensorflow:global_step/sec: 113.824
INFO:tensorflow:step = 4201, loss = 32.7582 (0.879 sec)
INFO:tensorflow:global_step/sec: 113.214
INFO:tensorflow:step = 4301, loss = 90.2003 (0.883 sec)
INFO:tensorflow:global_step/sec: 113.664
INFO:tensorflow:step = 4401, loss = 100.452 (0.880 sec)
INFO:tensorflow:global_step/sec: 114.732
INFO:tensorflow:step = 4501, loss = 59.8063 (0.872 sec)
INFO:tensorflow:global_step/sec: 113.695
INFO:tensorflow:step = 4601, loss = 33.0525 (0.879 sec)
INFO:tensorflow:global_step/sec: 113.871
INFO:tensorflow:step = 4701, loss = 55.6285 (0.879 sec)
INFO:tensorflow:global_step/sec: 113.673
INFO:tensorflow:step = 4801, loss = 139.994 (0.879 sec)
INFO:tensorflow:global_step/sec: 114.189
INFO:tensorflow:step = 4901, loss = 343.548 (0.876 sec)
INFO:tensorflow:Saving checkpoints for 5000 into /var/folders/7f/kl6zxp_50ddcw8xr42yvrpfm0000gn/T/tmpnsocjcdt/model.ckpt.
INFO:tensorflow:Loss for final step: 44.5411.

In [151]:
dnnModel.train(train_input_fn, steps=10000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /var/folders/7f/kl6zxp_50ddcw8xr42yvrpfm0000gn/T/tmpzv8hwxjm/model.ckpt.
INFO:tensorflow:step = 1, loss = 2001.57
INFO:tensorflow:global_step/sec: 101.225
INFO:tensorflow:step = 101, loss = 41.706 (0.990 sec)
INFO:tensorflow:global_step/sec: 100.732
INFO:tensorflow:step = 201, loss = 32.6319 (0.993 sec)
INFO:tensorflow:global_step/sec: 102.046
INFO:tensorflow:step = 301, loss = 38.0829 (0.979 sec)
INFO:tensorflow:global_step/sec: 100.48
INFO:tensorflow:step = 401, loss = 24.8358 (0.996 sec)
INFO:tensorflow:global_step/sec: 108.883
INFO:tensorflow:step = 501, loss = 35.2721 (0.918 sec)
INFO:tensorflow:global_step/sec: 101.624
INFO:tensorflow:step = 601, loss = 28.9604 (0.984 sec)
INFO:tensorflow:global_step/sec: 114.32
INFO:tensorflow:step = 701, loss = 45.6234 (0.876 sec)
INFO:tensorflow:global_step/sec: 100.427
INFO:tensorflow:step = 801, loss = 38.545 (0.996 sec)
INFO:tensorflow:global_step/sec: 109.028
INFO:tensorflow:step = 901, loss = 33.7385 (0.915 sec)
INFO:tensorflow:global_step/sec: 115.008
INFO:tensorflow:step = 1001, loss = 29.363 (0.869 sec)
INFO:tensorflow:global_step/sec: 113.839
INFO:tensorflow:step = 1101, loss = 33.0209 (0.879 sec)
INFO:tensorflow:global_step/sec: 99.1247
INFO:tensorflow:step = 1201, loss = 27.705 (1.009 sec)
INFO:tensorflow:global_step/sec: 106.8
INFO:tensorflow:step = 1301, loss = 35.5277 (0.936 sec)
INFO:tensorflow:global_step/sec: 118.352
INFO:tensorflow:step = 1401, loss = 39.6916 (0.845 sec)
INFO:tensorflow:global_step/sec: 111.37
INFO:tensorflow:step = 1501, loss = 28.1404 (0.899 sec)
INFO:tensorflow:global_step/sec: 118.005
INFO:tensorflow:step = 1601, loss = 36.7779 (0.847 sec)
INFO:tensorflow:global_step/sec: 118.623
INFO:tensorflow:step = 1701, loss = 33.0839 (0.843 sec)
INFO:tensorflow:global_step/sec: 117.734
INFO:tensorflow:step = 1801, loss = 34.7715 (0.849 sec)
INFO:tensorflow:global_step/sec: 117.542
INFO:tensorflow:step = 1901, loss = 35.3554 (0.850 sec)
INFO:tensorflow:global_step/sec: 115.461
INFO:tensorflow:step = 2001, loss = 30.9503 (0.868 sec)
INFO:tensorflow:global_step/sec: 117.243
INFO:tensorflow:step = 2101, loss = 45.0817 (0.851 sec)
INFO:tensorflow:global_step/sec: 109.715
INFO:tensorflow:step = 2201, loss = 29.9059 (0.912 sec)
INFO:tensorflow:global_step/sec: 117.973
INFO:tensorflow:step = 2301, loss = 29.4211 (0.849 sec)
INFO:tensorflow:global_step/sec: 109.598
INFO:tensorflow:step = 2401, loss = 48.8344 (0.911 sec)
INFO:tensorflow:global_step/sec: 112.442
INFO:tensorflow:step = 2501, loss = 28.3509 (0.889 sec)
INFO:tensorflow:global_step/sec: 118.372
INFO:tensorflow:step = 2601, loss = 32.1885 (0.845 sec)
INFO:tensorflow:global_step/sec: 116.924
INFO:tensorflow:step = 2701, loss = 34.8715 (0.856 sec)
INFO:tensorflow:global_step/sec: 109.933
INFO:tensorflow:step = 2801, loss = 30.9779 (0.909 sec)
INFO:tensorflow:global_step/sec: 111.278
INFO:tensorflow:step = 2901, loss = 31.6384 (0.899 sec)
INFO:tensorflow:global_step/sec: 116.742
INFO:tensorflow:step = 3001, loss = 32.1079 (0.858 sec)
INFO:tensorflow:global_step/sec: 108.905
INFO:tensorflow:step = 3101, loss = 31.5085 (0.917 sec)
INFO:tensorflow:global_step/sec: 112.059
INFO:tensorflow:step = 3201, loss = 25.2922 (0.893 sec)
INFO:tensorflow:global_step/sec: 119.124
INFO:tensorflow:step = 3301, loss = 31.6902 (0.840 sec)
INFO:tensorflow:global_step/sec: 117.538
INFO:tensorflow:step = 3401, loss = 26.2381 (0.850 sec)
INFO:tensorflow:global_step/sec: 117.107
INFO:tensorflow:step = 3501, loss = 31.8364 (0.854 sec)
INFO:tensorflow:global_step/sec: 110.4
INFO:tensorflow:step = 3601, loss = 37.775 (0.906 sec)
INFO:tensorflow:global_step/sec: 116.165
INFO:tensorflow:step = 3701, loss = 38.7447 (0.860 sec)
INFO:tensorflow:global_step/sec: 98.3463
INFO:tensorflow:step = 3801, loss = 35.5736 (1.017 sec)
INFO:tensorflow:global_step/sec: 104.483
INFO:tensorflow:step = 3901, loss = 27.9382 (0.962 sec)
INFO:tensorflow:global_step/sec: 105.903
INFO:tensorflow:step = 4001, loss = 30.3456 (0.939 sec)
INFO:tensorflow:global_step/sec: 109.857
INFO:tensorflow:step = 4101, loss = 25.4465 (0.911 sec)
INFO:tensorflow:global_step/sec: 109.247
INFO:tensorflow:step = 4201, loss = 31.588 (0.914 sec)
INFO:tensorflow:global_step/sec: 116.691
INFO:tensorflow:step = 4301, loss = 37.9334 (0.857 sec)
INFO:tensorflow:global_step/sec: 118.28
INFO:tensorflow:step = 4401, loss = 26.1482 (0.845 sec)
INFO:tensorflow:global_step/sec: 115.961
INFO:tensorflow:step = 4501, loss = 28.0382 (0.864 sec)
INFO:tensorflow:global_step/sec: 108.128
INFO:tensorflow:step = 4601, loss = 41.5711 (0.924 sec)
INFO:tensorflow:global_step/sec: 109.821
INFO:tensorflow:step = 4701, loss = 39.3716 (0.911 sec)
INFO:tensorflow:global_step/sec: 111.526
INFO:tensorflow:step = 4801, loss = 30.5433 (0.896 sec)
INFO:tensorflow:global_step/sec: 120.147
INFO:tensorflow:step = 4901, loss = 39.0181 (0.833 sec)
INFO:tensorflow:global_step/sec: 110.756
INFO:tensorflow:step = 5001, loss = 33.9075 (0.902 sec)
INFO:tensorflow:global_step/sec: 111.352
INFO:tensorflow:step = 5101, loss = 26.7186 (0.899 sec)
INFO:tensorflow:global_step/sec: 117.095
INFO:tensorflow:step = 5201, loss = 24.8495 (0.857 sec)
INFO:tensorflow:global_step/sec: 114.034
INFO:tensorflow:step = 5301, loss = 23.9357 (0.874 sec)
INFO:tensorflow:global_step/sec: 114.327
INFO:tensorflow:step = 5401, loss = 34.8211 (0.881 sec)
INFO:tensorflow:global_step/sec: 107.594
INFO:tensorflow:step = 5501, loss = 24.8155 (0.924 sec)
INFO:tensorflow:global_step/sec: 118.655
INFO:tensorflow:step = 5601, loss = 28.4642 (0.842 sec)
INFO:tensorflow:global_step/sec: 121.337
INFO:tensorflow:step = 5701, loss = 29.7311 (0.825 sec)
INFO:tensorflow:global_step/sec: 120.856
INFO:tensorflow:step = 5801, loss = 26.4975 (0.827 sec)
INFO:tensorflow:global_step/sec: 113.52
INFO:tensorflow:step = 5901, loss = 34.7127 (0.881 sec)
INFO:tensorflow:global_step/sec: 112.023
INFO:tensorflow:step = 6001, loss = 50.3836 (0.893 sec)
INFO:tensorflow:global_step/sec: 110.586
INFO:tensorflow:step = 6101, loss = 29.7858 (0.904 sec)
INFO:tensorflow:global_step/sec: 111.764
INFO:tensorflow:step = 6201, loss = 38.2867 (0.895 sec)
INFO:tensorflow:global_step/sec: 115.639
INFO:tensorflow:step = 6301, loss = 32.0432 (0.865 sec)
INFO:tensorflow:global_step/sec: 114.249
INFO:tensorflow:step = 6401, loss = 28.4718 (0.876 sec)
INFO:tensorflow:global_step/sec: 113.933
INFO:tensorflow:step = 6501, loss = 29.949 (0.878 sec)
INFO:tensorflow:global_step/sec: 112.47
INFO:tensorflow:step = 6601, loss = 33.0929 (0.889 sec)
INFO:tensorflow:global_step/sec: 113.463
INFO:tensorflow:step = 6701, loss = 31.6171 (0.881 sec)
INFO:tensorflow:global_step/sec: 112.967
INFO:tensorflow:step = 6801, loss = 28.3648 (0.885 sec)
INFO:tensorflow:global_step/sec: 115.578
INFO:tensorflow:step = 6901, loss = 37.73 (0.865 sec)
INFO:tensorflow:global_step/sec: 115.755
INFO:tensorflow:step = 7001, loss = 21.3595 (0.865 sec)
INFO:tensorflow:global_step/sec: 114.53
INFO:tensorflow:step = 7101, loss = 31.6581 (0.873 sec)
INFO:tensorflow:global_step/sec: 114.73
INFO:tensorflow:step = 7201, loss = 32.4624 (0.871 sec)
INFO:tensorflow:global_step/sec: 114.515
INFO:tensorflow:step = 7301, loss = 40.4359 (0.873 sec)
INFO:tensorflow:global_step/sec: 112.922
INFO:tensorflow:step = 7401, loss = 25.34 (0.886 sec)
INFO:tensorflow:global_step/sec: 110.265
INFO:tensorflow:step = 7501, loss = 35.8185 (0.907 sec)
INFO:tensorflow:global_step/sec: 114.356
INFO:tensorflow:step = 7601, loss = 25.2058 (0.874 sec)
INFO:tensorflow:global_step/sec: 114.748
INFO:tensorflow:step = 7701, loss = 27.9699 (0.872 sec)
INFO:tensorflow:global_step/sec: 114.895
INFO:tensorflow:step = 7801, loss = 34.0971 (0.871 sec)
INFO:tensorflow:global_step/sec: 114.882
INFO:tensorflow:step = 7901, loss = 36.7073 (0.870 sec)
INFO:tensorflow:global_step/sec: 115.796
INFO:tensorflow:step = 8001, loss = 33.8942 (0.864 sec)
INFO:tensorflow:global_step/sec: 115.47
INFO:tensorflow:step = 8101, loss = 22.9947 (0.866 sec)
INFO:tensorflow:global_step/sec: 115.519
INFO:tensorflow:step = 8201, loss = 27.5524 (0.866 sec)
INFO:tensorflow:global_step/sec: 114.794
INFO:tensorflow:step = 8301, loss = 32.342 (0.871 sec)

INFO:tensorflow:global_step/sec: 116.861
INFO:tensorflow:step = 8401, loss = 28.1763 (0.856 sec)
INFO:tensorflow:global_step/sec: 115.958
INFO:tensorflow:step = 8501, loss = 34.6208 (0.862 sec)
INFO:tensorflow:global_step/sec: 118.155
INFO:tensorflow:step = 8601, loss = 32.3669 (0.847 sec)
INFO:tensorflow:global_step/sec: 120.172
INFO:tensorflow:step = 8701, loss = 38.0892 (0.833 sec)
INFO:tensorflow:global_step/sec: 119.434
INFO:tensorflow:step = 8801, loss = 32.1122 (0.837 sec)
INFO:tensorflow:global_step/sec: 120.379
INFO:tensorflow:step = 8901, loss = 27.0036 (0.831 sec)
INFO:tensorflow:global_step/sec: 117.011
INFO:tensorflow:step = 9001, loss = 29.6537 (0.854 sec)
INFO:tensorflow:global_step/sec: 115.026
INFO:tensorflow:step = 9101, loss = 36.0277 (0.870 sec)
INFO:tensorflow:global_step/sec: 115.875
INFO:tensorflow:step = 9201, loss = 51.164 (0.863 sec)
INFO:tensorflow:global_step/sec: 107.98
INFO:tensorflow:step = 9301, loss = 34.4751 (0.931 sec)
INFO:tensorflow:global_step/sec: 106.653
INFO:tensorflow:step = 9401, loss = 37.2378 (0.932 sec)
INFO:tensorflow:global_step/sec: 108.944
INFO:tensorflow:step = 9501, loss = 34.1518 (0.920 sec)
INFO:tensorflow:global_step/sec: 111.124
INFO:tensorflow:step = 9601, loss = 56.0155 (0.898 sec)
INFO:tensorflow:global_step/sec: 95.1591
INFO:tensorflow:step = 9701, loss = 32.211 (1.055 sec)
INFO:tensorflow:global_step/sec: 94.4264
INFO:tensorflow:step = 9801, loss = 37.3232 (1.058 sec)
INFO:tensorflow:global_step/sec: 95.5735
INFO:tensorflow:step = 9901, loss = 33.669 (1.049 sec)
INFO:tensorflow:Saving checkpoints for 10000 into /var/folders/7f/kl6zxp_50ddcw8xr42yvrpfm0000gn/T/tmpzv8hwxjm/model.ckpt.
INFO:tensorflow:Loss for final step: 27.8245.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [94]:
pred_input_fn = tf.estimator.inputs.pandas_input_fn(
    X_test, 
    batch_size = len(X_test), 
    shuffle = False
)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [95]:
linearPredictions = linearModel.predict(pred_input_fn)
linearPredictions = list(linearPredictions)

INFO:tensorflow:Restoring parameters from /var/folders/7f/kl6zxp_50ddcw8xr42yvrpfm0000gn/T/tmpnsocjcdt/model.ckpt-5000

In [152]:
dnnPredictions = dnnModel.predict(pred_input_fn)
dnnPredictions = list(dnnPredictions)

INFO:tensorflow:Restoring parameters from /var/folders/7f/kl6zxp_50ddcw8xr42yvrpfm0000gn/T/tmpzv8hwxjm/model.ckpt-10000

** Each item in your list will look like this: **

In [96]:
linearPredictions[0]

{'class_ids': array([0]),
 'classes': array([b'0'], dtype=object),
 'logistic': array([ 0.13777165], dtype=float32),
 'logits': array([-1.83392262], dtype=float32),
 'probabilities': array([ 0.86222839,  0.13777164], dtype=float32)}

In [153]:
dnnPredictions[0]

{'class_ids': array([0]),
 'classes': array([b'0'], dtype=object),
 'logistic': array([ 0.2315159], dtype=float32),
 'logits': array([-1.1997714], dtype=float32),
 'probabilities': array([ 0.76848412,  0.23151588], dtype=float32)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [130]:
linearLabels = [ p['class_ids'][0] for p in linearPredictions ]
linearLabels[:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [154]:
dnnLabels = [ p['class_ids'][0] for p in dnnPredictions ]
dnnLabels[:10]

[0, 0, 1, 0, 1, 0, 0, 0, 0, 0]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [ ]:
from sklearn.metrics import classification_report

In [102]:
print(classification_report(y_test, linearLabels))

             precision    recall  f1-score   support

          0       0.87      0.94      0.90      8161
          1       0.75      0.55      0.64      2585

avg / total       0.84      0.85      0.84     10746

In [155]:
print(classification_report(y_test, dnnLabels))

             precision    recall  f1-score   support

          0       0.89      0.93      0.91      8161
          1       0.73      0.62      0.67      2585

avg / total       0.85      0.85      0.85     10746

             precision    recall  f1-score   support

          0       0.88      0.92      0.90      7436
          1       0.70      0.59      0.64      2333

avg / total       0.84      0.84      0.84      9769

# Great Job!